.left-side-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 100px;
  left: 20px;
  z-index: 1000;
}

.left-side-bar button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
